.contact a{
  margin-right: 20px
}
.right-sidebar div *{
  color: #fff;
  text-decoration: none;
}
.right-sidebar p{
  font-size: 13px
}

.skills progress{
  width: 90%;
  height: 15px;
  padding: 2px;
  font-size: 11px;
  border: 0;
  border-radius: 20px !important;
  background: rgba(255,255,255,.1);
  pointer-events: none;
}
progress[value]::-webkit-progress-bar{
  width: 100%;
  height: 15px;
  padding: 2px;
  font-size: 11px;
  border: 0;
  border-radius: 20px !important;
  background: #eee;
}
progress[value]::-moz-progress-bar{
  background: #eee;
  border-radius: 20px;
}

progress[value]::-webkit-progress-value{
  background: #eee;
  border-radius: 20px;
  
}
.wbdsgn:not(button){
  font-size: 10px;
  letter-spacing: 2px;
  text-indent: 10px;
  line-height: 2
}
.wbdsgn{
  height: 18px;
  width: 260px;
  z-index: 999;
  width: 260px;
  overflow:hidden ;
}

.wbdsgn button{
  float:right ;
  background: transparent;
  border: 0;
  color: white;
  cursor: pointer;
}
.wbbar{
  width: 50px;
  height: 18px;
  background: rgba(255,255,255,.1);
  position: absolute;
  border-radius: 20px;
  mix-blend-mode:  color-burn;
}

.footer{
  position: absolute;
  bottom: 0;
}

.footer ul{
  display: flex;
  list-style: none;
  font-size: 10px;
}

ul li{
  margin-right: 10px
}